

  <section class="home ">
    <div id="parent " style="margin-top: 200px;">
      <div id="div1">
        <div class="card-id">
          <div class="card-info">
            <div class="id-img">
              <img src="../../../assets/Bitmap.png" alt="id-img" />
            </div>
            <div class="card-titls">
              <h6>Report for</h6>
              <h4>
                Best <br />
                Sales
              </h4>
            </div>
          </div>
          <div class="card-filter">
            <div class="card-info">
              <ul>
                <li>daily</li>
                <li class="weekly">weekly</li>
                <li>monthly</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="div2" class="grid-item">
        <div class="product">
          <div
            class=""
            style="
              padding-top: 37px;
              padding-right: 30px;
              display: flex;
              justify-content: space-between;
            "
          >
            <h5>men's clothing</h5>
            <span>...</span>
          </div>
          <p class="price">109.22$</p>
          <div
            class=""
            style="
              padding-right: 14px;
              display: flex;
              justify-content: space-between;
            "
          >
            <h4 style="">
              Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops
            </h4>
            <h6>
              inStore
              <p style="text-align: center">20</p>
            </h6>
          </div>
        </div>
      </div>
      <div id="div2" class="grid-item">
        <div class="product">
          <div
            class=""
            style="
              padding-top: 37px;
              padding-right: 30px;
              display: flex;
              justify-content: space-between;
            "
          >
            <h5>men's clothing</h5>
            <span>...</span>
          </div>
          <p class="price">109.22$</p>
          <div
            class=""
            style="
              padding-right: 14px;
              display: flex;
              justify-content: space-between;
            "
          >
            <h4 style="">
              Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops
            </h4>
            <h6>
              inStore
              <p style="text-align: center">20</p>
            </h6>
          </div>
        </div>
      </div>
      <div id="div2" class="grid-item">
        <div class="product">
          <div
            class=""
            style="
              padding-top: 37px;
              padding-right: 30px;
              display: flex;
              justify-content: space-between;
            "
          >
            <h5>men's clothing</h5>
            <span>...</span>
          </div>
          <p class="price">109.22$</p>
          <div
            class=""
            style="
              padding-right: 14px;
              display: flex;
              justify-content: space-between;
            "
          >
            <h4 style="">
              Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops
            </h4>
            <h6>
              inStore
              <p style="text-align: center">20</p>
            </h6>
          </div>
        </div>
      </div>
      <div id="div2" class="grid-item">
        <div class="product">
          <div
            class=""
            style="
              padding-top: 37px;
              padding-right: 30px;
              display: flex;
              justify-content: space-between;
            "
          >
            <h5>men's clothing</h5>
            <span>...</span>
          </div>
          <p class="price">109.22$</p>
          <div
            class=""
            style="
              padding-right: 14px;
              display: flex;
              justify-content: space-between;
            "
          >
            <h4 style="">
              Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops
            </h4>
            <h6>
              inStore
              <p style="text-align: center">20</p>
            </h6>
          </div>
        </div>
      </div>
      <div id="div2" class="grid-item">
        <div class="product">
          <div
            class=""
            style="
              padding-top: 37px;
              padding-right: 30px;
              display: flex;
              justify-content: space-between;
            "
          >
            <h5>men's clothing</h5>
            <span>...</span>
          </div>
          <p class="price">109.22$</p>
          <div
            class=""
            style="
              padding-right: 14px;
              display: flex;
              justify-content: space-between;
            "
          >
            <h4 style="">
              Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops
            </h4>
            <h6>
              inStore
              <p style="text-align: center">20</p>
            </h6>
          </div>
        </div>
      </div>
      <div id="div2" class="grid-item">
        <div class="product">
          <div
            class=""
            style="
              padding-top: 37px;
              padding-right: 30px;
              display: flex;
              justify-content: space-between;
            "
          >
            <h5>men's clothing</h5>
            <span>...</span>
          </div>
          <p class="price">109.22$</p>
          <div
            class=""
            style="
              padding-right: 14px;
              display: flex;
              justify-content: space-between;
            "
          >
            <h4 style="">
              Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops
            </h4>
            <h6>
              inStore
              <p style="text-align: center">20</p>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </section>

